div{
    margin: 0 auto;
    width: 600px;
}

h1, .subtitulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.img1{
    width: 600px;
    margin-top: 20px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-color: rgb(59, 177, 255);
    padding: 30px;
}

.p2{
    border-left: solid 2px;
    border-color: black;
}

i{
    margin-left: 5px;
}

.p1{
    margin-top: 20px;
}

.div2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

b{
    color: rgb(59, 177, 255);
}

.img2, .img3, .img4{
    width: 600px;
    border: solid 10px;
    border-color: rgb(59, 177, 255);
}
